## Carrie Little
## SIPRI Milex Data - Data Cleaning 1

### View Excel Sheets included in file

In [1]:
import pandas as pd

# Load data file
file_path = 'SIPRI-Milex-data-1948-2023.xlsx'

# Check the sheet names in the Excel file
excel_file = pd.ExcelFile(file_path)
excel_file.sheet_names

['Front page',
 'Regional totals',
 'Local currency financial years',
 'Local currency calendar years',
 'Constant (2022) US$',
 'Current US$',
 'Share of GDP',
 'Per capita',
 'Share of Govt. spending',
 'Footnotes']

### Will Load, Clean, and Export to CSV the following sheets: 
#### 1. 'Constant (2022) US$'
#### 2. 'Share of GDP'
#### 3. 'Per capita'
#### 4. 'Share of Govt. spending'

_________________________________________________________________________________________________________________________________________________________

### 1. Load and Clean 'Constant (2022) US$' Sheet

In [2]:
# Load sheet
data_constant_usd = pd.read_excel(file_path, sheet_name="Constant (2022) US$")

# Display the first 10 rows
data_constant_usd.head(10)

,"Military expenditure by country, in constant (2022) US$ m., 1948-2023 © SIPRI 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78
0,"Figures are in US $m., at constant 2022 prices...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,NaN,Notes,1948,1949,1950,1951,1952,1953,1954,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,NaN,§,...,...,...,...,...,...,...,...,10098.601351,10565.030238,10596.564106,10035.46938,9624.504002,10383.207823,10141.073361,9455.120355,9145.810174,16052.12907
9,Libya,NaN,‡§¶,...,...,...,...,...,...,...,...,3236.511746,...,...,...,...,...,...,...,...,...

In [3]:
# Reload and skip irrelevant rows to get only the actual data
data_cleaned_1 = pd.read_excel(file_path, sheet_name="Constant (2022) US$", skiprows=5)

# Adjust year column selection to match the integer format in the dataset
year_columns = list(range(1948, 2024))  # Using integers for years
data_cleaned_1 = data_cleaned_1[['Country'] + year_columns]

# Display the cleaned data to verify structure and ensure it matches expectations for analysis
data_cleaned_1.head(10)

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,...,...,...,...,...,...,...,...,...,...,10098.601351,10565.030238,10596.564106,10035.46938,9624.504002,10383.207823,10141.073361,9455.120355,9145.810174,16052.12907
4,Libya,...,...,...,...,...,...,...,...,...,...,3236.511746,...,...,...,...,...,...,...,...,...
5,Morocco,...,...,...,...,...,...,...,...,111.729459,...,3875.234437,3577.909489,3599.711151,3705.59815,3731.482387,3809.704239,4883.245061,5026.030416,4995.028074,4868.719082
6,Tunisia,...,...,...,...,...,...,...,...,...,...,790.774649,943.413433,1004.52727,932.551601,936.298112,1151.413236,1205.706839,1210.355285,1156.186916,1113.466124
7,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,...,...,...,...,...,...,...,...,...,...,7085.001136,4170.569003,3331.954433,2882.802335,2376.791945,2171.788155,1901.093962,1619.929593,1622.763732,1639.712947
9,Benin,...,...,...,...,...,...,...,...,...,...,79.181623,92.386241,81.738888,115.570255,84.788851,67.97717,68.326999,87.81903,110.01037,130.522931

In [4]:
# Remove rows where 'Country' is NaN or contains placeholders like "Africa", "North Africa", etc.
# Keep rows where 'Country' is a specific country (e.g., not containing NaN or regional labels)

# Drop rows with any NaN values in the 'Country' column
data_cleaned_1 = data_cleaned_1.dropna(subset=['Country'])

# Remove rows where the data in any year column contains placeholders like '...' and convert values to numeric
data_cleaned_1.replace('...', pd.NA, inplace=True)
data_cleaned_1.iloc[:, 1:] = data_cleaned_1.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Display the cleaned data to confirm it is ready for analysis
data_cleaned_1.head()

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10098.601351,10565.030238,10596.564106,10035.46938,9624.504002,10383.207823,10141.073361,9455.120355,9145.810174,16052.12907
4,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3236.511746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.729459,...,3875.234437,3577.909489,3599.711151,3705.59815,3731.482387,3809.704239,4883.245061,5026.030416,4995.028074,4868.719082

In [5]:
# Remove regional aggregates by keeping only rows where 'Country' is a specific country
# Here, we can filter out rows with common regional terms or just focus on rows with substantial numeric data

# Filter to keep only rows with at least some non-null values across the years
data_constant_usd = data_cleaned_1.dropna(thresh=5, axis=0).reset_index(drop=True)

# Display the cleaned data focused on individual countries
data_constant_usd.head()

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10098.601351,10565.030238,10596.564106,10035.46938,9624.504002,10383.207823,10141.073361,9455.120355,9145.810174,16052.12907
1,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3236.511746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.729459,...,3875.234437,3577.909489,3599.711151,3705.59815,3731.482387,3809.704239,4883.245061,5026.030416,4995.028074,4868.719082
3,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,790.774649,943.413433,1004.52727,932.551601,936.298112,1151.413236,1205.706839,1210.355285,1156.186916,1113.466124
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7085.001136,4170.569003,3331.954433,2882.802335,2376.791945,2171.788155,1901.093962,1619.929593,1622.763732,1639.712947

In [6]:
# Output the cleaned DataFrame with country-specific military expenditure data to a CSV file
output_path = "Cleaned_SIPRI_Military_Expenditure-Constant_2022.csv"
data_constant_usd.to_csv(output_path, index=False)

output_path

'Cleaned_SIPRI_Military_Expenditure-Constant_2022.csv'

_________________________________________________________________________________________________________________________________________________________

### 2. Load and Clean 'Share of GDP' Sheet

In [7]:
# Load sheet
data_share_GDP = pd.read_excel(file_path, sheet_name="Share of GDP")

# Display the first few rows
data_share_GDP.head(10)

,"Military expenditure by country as percentage of gross domestic product, 1948-2023 © SIPRI 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,Countries are grouped by region and subregion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Notes,1948,1949,1950,1951,1952,1953,1954,1955,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,§,...,...,...,...,...,...,...,...,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.04695,0.081717
9,Libya,‡§¶,...,...,...,...,...,...,...,...,...,0.154796,...,...,...,...,...,...,...,...,...

In [8]:
# Reload and skip irrelevant rows to get only the actual data
data_cleaned_2 = pd.read_excel(file_path, sheet_name="Share of GDP", skiprows=5)

# Adjust year column selection to match the integer format in the dataset
year_columns = list(range(1948, 2024))  # Using integers for years
data_cleaned_2 = data_cleaned_2[['Country'] + year_columns]

# Display the cleaned data to verify structure and ensure it matches expectations for analysis
data_cleaned_2.head(10)

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,...,...,...,...,...,...,...,...,...,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.04695,0.081717
4,Libya,...,...,...,...,...,...,...,...,...,...,0.154796,...,...,...,...,...,...,...,...,...
5,Morocco,...,...,...,...,...,...,...,...,0.011807,...,0.033985,0.0296,0.029821,0.029459,0.029029,0.028658,0.039797,0.037552,0.038146,0.036387
6,Tunisia,...,...,...,...,...,...,...,...,...,...,0.018069,0.021396,0.02225,0.020318,0.019764,0.023833,0.027098,0.026367,0.024734,0.023579
7,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,...,...,...,...,...,...,...,...,...,...,0.046985,0.031054,0.027333,0.02508,0.019558,0.017391,0.01737,0.01301,0.013168,0.013325
9,Benin,...,...,...,...,...,...,...,...,...,...,0.007009,0.007985,0.006736,0.009206,0.006329,0.004733,0.004588,0.005509,0.006321,0.007112

In [9]:
# Remove rows where 'Country' is NaN or contains placeholders like "Africa", "North Africa", etc.
# Keep rows where 'Country' is a specific country (e.g., not containing NaN or regional labels)

# Drop rows with any NaN values in the 'Country' column
data_cleaned_2 = data_cleaned_2.dropna(subset=['Country'])

# Remove rows where the data in any year column contains placeholders like '...' and convert values to numeric
data_cleaned_2.replace('...', pd.NA, inplace=True)
data_cleaned_2.iloc[:, 1:] = data_cleaned_2.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Display the cleaned data to confirm it is ready for analysis
data_cleaned_2.head(10)

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.04695,0.081717
4,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.154796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.011807,...,0.033985,0.0296,0.029821,0.029459,0.029029,0.028658,0.039797,0.037552,0.038146,0.036387
6,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018069,0.021396,0.02225,0.020318,0.019764,0.023833,0.027098,0.026367,0.024734,0.023579
7,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046985,0.031054,0.027333,0.02508,0.019558,0.017391,0.01737,0.01301,0.013168,0.013325
9,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007009,0.007985,0.006736,0.009206,0.006329,0.004733,0.004588,0.005509,0.006321,0.007112
10,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.02212,0.028252,0.034107,0.032486,0.029248,0.030812,0.033348,0.030456,0.023821,0.025298

In [10]:
# Remove regional aggregates by keeping only rows where 'Country' is a specific country
# Here, we can filter out rows with common regional terms or just focus on rows with substantial numeric data

# Filter to keep only rows with at least some non-null values across the years
data_share_GDP = data_cleaned_2.dropna(thresh=5, axis=0).reset_index(drop=True)

# Display the cleaned data focused on individual countries
data_share_GDP.head()

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.04695,0.081717
1,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.154796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.011807,...,0.033985,0.0296,0.029821,0.029459,0.029029,0.028658,0.039797,0.037552,0.038146,0.036387
3,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.018069,0.021396,0.02225,0.020318,0.019764,0.023833,0.027098,0.026367,0.024734,0.023579
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046985,0.031054,0.027333,0.02508,0.019558,0.017391,0.01737,0.01301,0.013168,0.013325

In [11]:
# Output the cleaned DataFrame with country-specific military expenditure data to a CSV file
output_path = "Cleaned_SIPRI_Military_Expenditure-Share_of_GDP.csv"
data_share_GDP.to_csv(output_path, index=False)

output_path

'Cleaned_SIPRI_Military_Expenditure-Share_of_GDP.csv'

_________________________________________________________________________________________________________________________________________________________

### 3. Load and Clean 'Per capita' Sheet

In [12]:
# Load sheet
data_Per_capita = pd.read_excel(file_path, sheet_name="Per capita")

# Display the first few rows
data_Per_capita.head(10)

,"Military expenditure per capita by country, 1948-2023 © SIPRI 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Figures are in current US$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Countries are grouped by region and subregion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Country,Notes,1988,1989,1990,1991,1992,1993,1994,1995,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
6,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,§,42.429214,34.323059,35.436521,21.623099,39.378707,46.680964,47.782928,43.354702,...,250.886996,263.326354,253.28049,244.873569,228.581208,241.273869,223.42533,206.266945,203.679268,400.47292
9,Libya,‡§¶,...,...,...,...,...,...,...,...,...,615.882666,...,...,...,...,...,...,...,...,...

In [13]:
# Reload and skip irrelevant rows to get only the actual data
data_cleaned_3 = pd.read_excel(file_path, sheet_name="Per capita", skiprows=6)

# Adjust year column selection to match the integer format in the dataset
year_columns = list(range(1988, 2024))  # Using integers for years
data_cleaned_3 = data_cleaned_3[['Country'] + year_columns]

# Display the cleaned data to verify structure and ensure it matches expectations for analysis
data_cleaned_3.head(10)

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,42.429214,34.323059,35.436521,21.623099,39.378707,46.680964,47.782928,43.354702,50.109747,...,250.886996,263.326354,253.28049,244.873569,228.581208,241.273869,223.42533,206.266945,203.679268,400.47292
3,Libya,...,...,...,...,...,...,...,...,...,...,615.882666,...,...,...,...,...,...,...,...,...
4,Morocco,38.669076,41.020171,43.535896,45.959889,48.365283,48.505698,52.104802,54.058374,53.599344,...,118.211116,94.243465,94.768334,97.429113,102.896263,102.504513,131.673155,145.059377,133.350101,137.022421
5,Tunisia,28.866073,28.350537,29.366811,30.201905,32.906636,30.763856,32.491398,36.895035,42.145002,...,79.478516,84.729783,84.522908,72.724543,70.747286,83.070971,95.162997,101.969696,93.572913,96.982195
6,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Angola,132.855604,170.343509,148.038985,84.328055,62.862251,136.09433,44.197829,16.808778,11.106301,...,252.368376,128.281396,94.80552,101.389418,63.426928,45.463891,29.723418,28.444557,45.59734,34.624312
8,Benin,7.643127,5.728098,6.393394,...,...,...,...,...,...,...,8.760311,8.31392,7.067635,10.014899,7.554847,5.542098,5.680441,7.495921,8.238626,10.26588
9,Botswana,74.343453,78.954236,116.518151,124.742352,125.254079,126.998278,113.320321,107.431333,88.849643,...,153.221824,166.481509,218.73446,217.498108,203.218047,205.888372,196.004509,207.353323,184.44945,191.375671

In [14]:
# Remove rows where 'Country' is NaN or contains placeholders like "Africa", "North Africa", etc.
# Keep rows where 'Country' is a specific country (e.g., not containing NaN or regional labels)

# Drop rows with any NaN values in the 'Country' column
data_cleaned_3 = data_cleaned_3.dropna(subset=['Country'])

# Remove rows where the data in any year column contains placeholders like '...' and convert values to numeric
data_cleaned_3.replace('...', pd.NA, inplace=True)
data_cleaned_3.iloc[:, 1:] = data_cleaned_3.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Display the cleaned data to confirm it is ready for analysis
data_cleaned_3.head()

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,42.429214,34.323059,35.436521,21.623099,39.378707,46.680964,47.782928,43.354702,50.109747,...,250.886996,263.326354,253.28049,244.873569,228.581208,241.273869,223.42533,206.266945,203.679268,400.47292
3,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.882666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Morocco,38.669076,41.020171,43.535896,45.959889,48.365283,48.505698,52.104802,54.058374,53.599344,...,118.211116,94.243465,94.768334,97.429113,102.896263,102.504513,131.673155,145.059377,133.350101,137.022421

In [15]:
# Remove regional aggregates by keeping only rows where 'Country' is a specific country
# Here, we can filter out rows with common regional terms or just focus on rows with substantial numeric data

# Filter to keep only rows with at least some non-null values across the years
data_Per_capita = data_cleaned_3.dropna(thresh=5, axis=0).reset_index(drop=True)

# Display the cleaned data focused on individual countries
data_Per_capita.head()

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,42.429214,34.323059,35.436521,21.623099,39.378707,46.680964,47.782928,43.354702,50.109747,...,250.886996,263.326354,253.28049,244.873569,228.581208,241.273869,223.42533,206.266945,203.679268,400.47292
1,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.882666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,38.669076,41.020171,43.535896,45.959889,48.365283,48.505698,52.104802,54.058374,53.599344,...,118.211116,94.243465,94.768334,97.429113,102.896263,102.504513,131.673155,145.059377,133.350101,137.022421
3,Tunisia,28.866073,28.350537,29.366811,30.201905,32.906636,30.763856,32.491398,36.895035,42.145002,...,79.478516,84.729783,84.522908,72.724543,70.747286,83.070971,95.162997,101.969696,93.572913,96.982195
4,Angola,132.855604,170.343509,148.038985,84.328055,62.862251,136.09433,44.197829,16.808778,11.106301,...,252.368376,128.281396,94.80552,101.389418,63.426928,45.463891,29.723418,28.444557,45.59734,34.624312

In [16]:
# Output the cleaned DataFrame with country-specific military expenditure data to a CSV file
output_path = "Cleaned_SIPRI_Military_Expenditure-Per_Capita.csv"
data_Per_capita.to_csv(output_path, index=False)

output_path

'Cleaned_SIPRI_Military_Expenditure-Per_Capita.csv'

_________________________________________________________________________________________________________________________________________________________

### 4. Load and Clean 'Share of Govt. spending' Sheet

In [17]:
# Load sheet
data_Share_Gov = pd.read_excel(file_path, sheet_name="Share of Govt. spending")

# Display the first few rows
data_Share_Gov.head(15)

,"Military expenditure by country as percentage of government spending, 1948-2023 © SIPRI 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Countries are grouped by region and subregion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures are for miltary expenditure expressed ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Data for general government expenditure are fr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Country,Notes,Reporting year,1988,1989,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Algeria,§,NaN,...,...,0.057841,0.040441,0.069904,0.070861,0.093684,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.15694,0.15025,0.126723,0.193357
11,Libya,‡§¶,NaN,...,...,...,...,...,...,...,...,0.109068,...,...,...,...,...,...,...,...,...
12,Morocco,§,NaN,...,...,0.145002,0.158037,0.15113,0.158109,0.162983,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.11122
13,Tunisia,NaN,NaN,...,...,...,0.063269,0.063291,0.061916,0.064018,...,0.065263,0.07796,0.08176,0.070733,0.068902,0.080702,0.078555,0.079197,0.070461,0.070458
14,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Reload and skip irrelevant rows to get only the actual data
data_cleaned_4 = pd.read_excel(file_path, sheet_name="Share of Govt. spending", skiprows=7)

# Adjust year column selection to match the integer format in the dataset
year_columns = list(range(1988, 2024))  # Using integers for years
data_cleaned_4 = data_cleaned_4[['Country'] + year_columns]

# Display the cleaned data to verify structure and ensure it matches expectations for analysis
data_cleaned_4.head(10)

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,...,...,0.057841,0.040441,0.069904,0.070861,0.093684,0.093543,0.106039,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.15694,0.15025,0.126723,0.193357
4,Libya,...,...,...,...,...,...,...,...,...,...,0.109068,...,...,...,...,...,...,...,...,...
5,Morocco,...,...,0.145002,0.158037,0.15113,0.158109,0.162983,0.16004,0.17614,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.11122
6,Tunisia,...,...,...,0.063269,0.063291,0.061916,0.064018,0.062582,0.066741,...,0.065263,0.07796,0.08176,0.070733,0.068902,0.080702,0.078555,0.079197,0.070461,0.070458
7,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,...,...,...,...,...,...,...,...,0.060329,...,0.128877,0.114798,0.124,0.104141,0.095039,0.085236,0.074624,0.066798,0.058413,0.055282
9,Benin,...,0.104652,0.092393,...,...,...,...,...,...,...,0.049276,0.043987,0.043661,0.051763,0.038229,0.032416,0.024055,0.027745,0.031821,0.03754

In [19]:
# Remove rows where 'Country' is NaN or contains placeholders like "Africa", "North Africa", etc.
# Keep rows where 'Country' is a specific country (e.g., not containing NaN or regional labels)

# Drop rows with any NaN values in the 'Country' column
data_cleaned_4 = data_cleaned_4.dropna(subset=['Country'])

# Remove rows where the data in any year column contains placeholders like '...' and convert values to numeric
data_cleaned_4.replace('...', pd.NA, inplace=True)
data_cleaned_4.iloc[:, 1:] = data_cleaned_4.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Display the cleaned data to confirm it is ready for analysis
data_cleaned_4.head()

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,NaN,NaN,0.057841,0.040441,0.069904,0.070861,0.093684,0.093543,0.106039,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.15694,0.15025,0.126723,0.193357
4,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.109068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Morocco,NaN,NaN,0.145002,0.158037,0.15113,0.158109,0.162983,0.16004,0.17614,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.11122

In [20]:
# Remove regional aggregates by keeping only rows where 'Country' is a specific country
# Here, we can filter out rows with common regional terms or just focus on rows with substantial numeric data

# Filter to keep only rows with at least some non-null values across the years
data_Share_Gov = data_cleaned_4.dropna(thresh=5, axis=0).reset_index(drop=True)

# Display the cleaned data focused on individual countries
data_Share_Gov.head()

,Country,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,NaN,NaN,0.057841,0.040441,0.069904,0.070861,0.093684,0.093543,0.106039,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.15694,0.15025,0.126723,0.193357
1,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.109068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,NaN,NaN,0.145002,0.158037,0.15113,0.158109,0.162983,0.16004,0.17614,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.11122
3,Tunisia,NaN,NaN,NaN,0.063269,0.063291,0.061916,0.064018,0.062582,0.066741,...,0.065263,0.07796,0.08176,0.070733,0.068902,0.080702,0.078555,0.079197,0.070461,0.070458
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060329,...,0.128877,0.114798,0.124,0.104141,0.095039,0.085236,0.074624,0.066798,0.058413,0.055282

In [21]:
# Output the cleaned DataFrame with country-specific military expenditure data to a CSV file
output_path = "Cleaned_SIPRI_Military_Expenditure-Share_of_Govt_spending.csv"
data_Share_Gov.to_csv(output_path, index=False)

output_path

'Cleaned_SIPRI_Military_Expenditure-Share_of_Govt_spending.csv'